body {
	margin: 2em 2em 5em 3em;
	font-family: Arial, sans-serif;
	font-size: 10.5pt;
	line-height: 130%;
	overflow-x: hidden;
}

img {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

a {
	text-decoration: none;
	color: #333;
}
a:hover {
	text-decoration: underline;
}

ul {
	list-style-type: none;
	margin: 0 0 0 1.4em;
	padding: 0;
} 
ul li {
	clear: left;
	padding: .15em;
}
ul li a i {
	color: #aaa;
}
ul li img {
	float: left;
	margin-left: -20px;
} 

ul li.folder a {
	cursor: default;
}
ul li.folder a span.arrow {
	float: left;
	display: block;
	width: 1em;
	margin-left: -40px;
	color: #888;
}

ul li a.edit {
	font-size: 80%;
	color: #ABCDDB;
	margin-left: .5em;
	cursor: hand !important;
	line-height: 80%;
	opacity: 0;
}
ul li:hover a.edit {
	opacity: 1;
}
ul li:hover a.edit:hover {
	text-decoration: underline;
	color: #57BEEB;
}

ul li.edit {
	margin-bottom: .5em;
}
ul li.edit table {
	border-spacing: 0;
	width: 100%;
	font-size: 10.5pt;
}
ul li.edit table tr td input[type=text] {
	width: 100%;
}
ul li.edit table tr td:first-child {
	padding-right: .5em;
}
ul li.edit table tr td:last-child {
	width: 100%;
}
ul li.edit p.newTab {
	float: left;
	margin: .5em 1em 0 0;
	white-space: nowrap;
}
ul li.edit p.buttons {
	float: right;
	margin: .5em 0 0 0;
	white-space: nowrap;
}
ul li.edit p.buttons button:first-child {
	margin-right: 1em;
}

/*--- Bookmarks menu ---*/
div.bookmarksContainer {
	max-width: 80em;
	margin: 0 auto;
}

div.clearer {
	visibility: hidden;
	display: block;
	height: 0;
	content: ".";
	clear: both;
}

div.toolbar {
	float: left;
	width: 45%;
	margin-right: 5%;
}
div.other {
	float: right;
	width: 45%;
	margin-right: 5%;
}

h2.bookmarksHeader {
	font-weight: normal;
	margin-left: -20px;
}

/*--- Application menu ---*/

div.app {
	border-radius: 5px 5px 5px 5px;
	border: 1px solid #EEE;
	display: inline-block;
	width: 135px;
	margin-left: 5px;
	margin-right: 5px;
	font-size: 9pt;
}

div.app:hover {
	-webkit-transition: background-color .5s;
	background-color: #EEE;
}

a.appLabel {
	border-radius: 10px;
	font-weight: normal;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 107%;
	overflow: hidden;
	padding: 111px 10px 10px;
	text-align: center;
}

/*--- Context menu ---*/

.context-menu {
	background-color: White;
	border: 1px solid #EEE;
	border-radius: 5px 5px 5px 5px;
	font-size: 0.8em;
	padding: 3px;
	box-shadow: #577AA2 0 0 10px;
	opacity: 1;
	margin: 0;
}

.context-menu a {
	border: 0;
	margin-left: 5px;
	margin-right: 5px;
	padding-left: 5px;
	padding-right: 5px;
	border-radius: 5px;
	font-weight: bold;
	list-style-type: none;
}

.context-menu a:hover {
	color: White;
	background-color: Gray;
}
