body {
	margin: 2em 2em 5em 3em;
	font-family: Arial, sans-serif;
	font-size: 10.5pt;
	line-height: 130%;
	overflow-x: hidden;
}

/*--- Bookmarks menu ---*/
div.bookmarksContainer {
	max-width: 80em;
	margin: 0 auto;
}

div.clearer {
	visibility: hidden;
	display: block;
	height: 0;
	content: ".";
	clear: both;
}

div.toolbar {
	float: left;
	width: 45%;
	margin-right: 5%;
}
div.other {
	float: right;
	width: 45%;
	margin-right: 5%;
}

h2.bookmarksHeader {
	font-weight: normal;
	margin-left: -20px;
}

/*--- Application menu ---*/

div.app {
	border-radius: 5px 5px 5px 5px;
	border: 1px solid #EEE;
	display: inline-block;
	width: 135px;
	margin-left: 5px;
	margin-right: 5px;
	font-size: 9pt;
}

div.app:hover {
	-webkit-transition: background-color .5s;
	background-color: #EEE;
}

a.appLabel {
	border-radius: 10px;
	font-weight: normal;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 107%;
	overflow: hidden;
	padding: 111px 10px 10px;
	text-align: center;
}
